body {
    min-height: 3000px;
}

.jumbotron {
    padding-top: 2rem;
    background-color: #e2edff;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#projects {
    background-color: #e2edff;
}

.alert {
    margin-top: 30px;
    text-align: center;
}